<!-- Agregar la extención-->
{% extends 'SoCasual/items.html' %}
<!-- Bloque de Inicio-->
{% block titulo %} Livin de 90 style  {% endblock %}
<!-- Bloque de Contenido--> 
{% block contenido %} 
    <h1> Items almacenados en  Busos</h1>  
    {% for buso in Busos  %}
        <li>{{buso}}</li>
        <button>
            <a class="nav-link" href="{% url 'borrar_buso' %}">Borrar Buso</a>
            <a class="nav-link" href="{% url 'actualizar_buso' %}">Actualizar Buso</a>
        </button>
    {% endfor %}
{% endblock contenido%}
        