<!-- Agregar la extención-->
{% extends 'SoCasual/productos.html' %}
<!-- Bloque de Inicio-->
{% block titulo %} Livin de 90 style  {% endblock %}
<!-- Bloque de Contenido--> 
{% block listado_productos %}
    {% for buso in  busos %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale bagde-->
                <div class="bagde bg-dark text-while position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{buso.imagen}}" alt="blusa" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">                       
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{buso.nombre}}</h5>
                        <!-- Product price-->
                        ${{buso.precio}}
                        <br/>
                        <p style="color: green"> Stock: {{buso.stock}} </p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Pal carrito</a></div>
                </div>
            </div>
        </div>
    {% endfor %}          
{% endblock %}
    