<!-- Agregar la extención-->
{% extends 'SoCasual/base.html' %}
<!-- Bloque de Inicio-->
{% block titulo %} Living de 90 style{% endblock titulo %}
<!-- Bloque de Contenido--> 
{% block contenido %} 
    <div class="container" type= "button" data-bs-toggle ="collapse">
        <h1> esta es la mercancia hasta el momento: </h1>
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'listadoblusas' %}">ListadoBlusas</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'listadopantalones' %}">ListadoPantalones</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'listadobusos' %}">ListadoBusos</a></li>
        </ul>
    </div>
    {% block formulario %}
        <form method="post">{% csrf_token %}
            {{formulario.as_p}}
            <input type="submit" value="Crear">
        </form> 
    {% endblock formulario %}
{% endblock %}
    


