
<!-- Agregar la extención-->
{% extends 'SoCasual/items.html' %}
<!-- Bloque de Inicio-->
{% block titulo %} Livin de 90 style  {% endblock %}
<!-- Bloque de Contenido--> 
{% block contenido %} 
    <h1> Items almacenados en  Blusa</h1>
    <form method="post">{% csrf_token %}
        {{formulario.as_p}}
        <input type="submit" value="Crear">
    </form>    
    {% for blusa in Blusas %}
        <p style="color:blue"> {{blusa.nombre}}
            <a href= "{% url 'borrar_blusa' blusa.id %}">Borrar</a>
            <a href= "{% url 'actualizar_blusa' blusa.id %}">Editar</a>
        </p>   
    {% endfor %}
        
{% endblock contenido %} 
    